<section class="recover-screen">
  <div class="recover-box">
    <h1>Recuperar senha</h1>
    <p>Digite e envie seu email recuperar sua senha</p>
    <mat-form-field appearance="outline" class="email">
      <mat-label>E-mail</mat-label>
      <input
          matInput
          placeholder="Email@email.com"
          [formControl]="email"
          required
      />
      <mat-error *ngIf="email.invalid">{{
            getEmailErrorMessage()
        }}
      </mat-error>
    </mat-form-field>

    <button mat-button class="dark-green-button" id="button" type="submit" (click)="onSubmit()">
      Entrar
    </button>

    <a href="./login">
      <p class="link-login">Quer voltar para a página de login?</p>
    </a>
  </div>
</section>
