.recover-screen{
  background-color: var(--primary-dark);
  height: 100vh;
  width: 100vw;
  display: flex;
  justify-content: center;
  align-items: center;
}

.recover-box{
  width: 20%;
  height: auto;
  background-color: #fff;
  border: 1px solid #000;
  padding: 1rem;
  border-radius: 4px;
}

.email, .dark-green-button{
  width: 100%;
  margin-top: 1rem;
}

.link-login{
  width: 100%;
  text-align: center;
  margin-top: .5rem;
}
