.noticias-tela-cheia{
  display: flex;
  height: 89.8vh;
  width: 100vw;
  background-color: var(--primary-dark);
}

.noticias-tela{
  margin: 3rem auto 0 auto;
  width: 90%;
  height: 80vh;
  background-color: #fff;
  padding: 1rem;
  border-radius: 3px;
  display: grid;
  grid-template-columns: 20% 80%;
}

.filter-part{
  border-right: var(--grayscale-2) 2px solid;
  height: 100%;
  display: grid;
  grid-template-rows: 10% auto;
}

.filter-title{
  color: var(--grayscale-5);
  font-weight: bold;
  font-size: 24px;
  line-height: 28px;
  text-align: left;
}

.filter-card{
  display: flex;
  flex-direction: column;
  height: 60%;
  overflow-y: auto;
  overflow-x: auto;
  margin-bottom: 10px;
  padding-right: 2rem;
  justify-content: space-between;
}

.selected{
  background-color: var(--primary-light);
  border: 2px solid var(--primary-dark);
  border-radius: 4px;
  border-right: 15px solid var(--grayscale-4);
}
