.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 2rem;
    margin-top: 1.5rem;
    width: 100%;
}

.modal-title {
    font-weight: bold;
    font-size: 24px;
    line-height: 28px;
    color: var(--grayscale-2);
    margin: 0;
}

.modal-button {
    border: none;
    background-color: var(--primary-dark);
    color: var(--grayscale-2);
}
