<div class="news-screen">
  <h2 class="filter-title">Notícias</h2>
  <p-orderList [value]="news" [listStyle]="{'height':'auto'}"
  filterBy="titulo,resumo" filterPlaceholder="Busque pelo título ou conteúdo" [dragdrop]="false"
  controlsPosition=""
  >
    <ng-template let-noticia pTemplate="item">
      <div class="card-noticia">
          <img class="noticia-imagem" src="{{noticia.img}}">
          <div class="centraliza-meio">
            <h2>{{noticia.titulo}}</h2>
            <p>{{noticia.resumo}}</p>
          </div>
          <div class="centraliza-meio">
            <h2>Categoria</h2>
            <p>{{noticia.label}}</p>
          </div>
          <button mat-button class="dark-green-button">Ver Completa</button>
      </div>
    </ng-template>
  </p-orderList>
</div>
