<div class="tela">
  <div class="sobre">
    <div>
      <h1>Sobre Nós</h1>
      <p>
        Somos um site de notícias sobre o mundo Nerd e Geek desenvolvido para a disciplina de
        Sistemas para Internet 1 do curso de Sistemas de Informação na Universidade Federal Do Rio Grande. Nossa especialidade
        são áreas como quadrinhos, filmes, jogos e séries. Esse site foi desenvolvido utilizando utilizando Typescript, Javascript
        e o framework Angular, além de algumas bibliotecas como o Angular Materials e o Angular bootstrap. Também desenvolvemos o backend
        utilizando o NodeJS, Sequelize e o banco de dados SQLite. Esperamos que goste do site!!!
      </p>
    </div>

    <div class="botoes">
      <button class="dark-green-button" (click)="navegaNoticias()" mat-button>Ver notícias</button>
      <button class="dark-green-button" (click)="navegaContato()" mat-button>Entrar em contato</button>
    </div>

  </div>
</div>
